*, :before, :after {
  font-family: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Cabin", "Noto Sans", sans-serif;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", "Noto Sans", sans-serif;
}*/

body.eventhub-authed .nonauthed-only {
  display: none;
}

body.eventhub-nonauthed .authed-only {
  display: none;
}
